.date-picker-container {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 2px;
}

.date-picker-grid {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  column-gap: 2px;
  grid-template-rows: 15% 15% 15% 15% 15% 15%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: wheat;
}

.day {
  font: bold;
}
