<div
  class="date-picker-container"
  (mouseenter)="overPicker = true"
  (mouseleave)="overPicker = false"
>
  <input
    type="text"
    class="dateInput"
    value=""
    placeholder="MM/DD/YYYY"
    [(ngModel)]="currentDate"
    (blur)="validateInput()"
    (ngModelChange)="modelChange($event)"
    [ngClass]="{ invalid: !validDate }"
  />
  <button
    class="dpBtn wf-calender"
    alt="open datepicker"
    (click)="datePickerClick()"
  ></button>
  <div class="grid-container" [ngClass]="{ hidden: !togglePicker }">
    <div class="year-month-selection">
      <div>{{ selectedYear }}</div>
      <div>
        <button (click)="yearChange(+1)" class="btn small up wf-arrow-up"></button>
        <button (click)="yearChange(-1)" class="btn small down wf-arrow-down"></button>
      </div>
      <div>{{ monthDisplay }}</div>
      <div>
        <button (click)="monthChange(+1)" class="btn small up wf-arrow-up"></button>
        <button (click)="monthChange(-1)" class="btn small down wf-arrow-down"></button>
      </div>
    </div>
    <div class="date-picker-grid">
      <div class="date-col-header">Sun</div>
      <div class="date-col-header">Mon</div>
      <div class="date-col-header">Tues</div>
      <div class="date-col-header">Wed</div>
      <div class="date-col-header">Thurs</div>
      <div class="date-col-header">Fri</div>
      <div class="date-col-header">Sat</div>
      <div
        (click)="dateClick(date.date)"
        class="date"
        *ngFor="let date of dates"
        [ngClass]="{
          current: date.special.current,
          holiday: date.special.holiday,
          important: date.special.important,
          selected: date.special.selected,
          other: date.special.other
        }"
      >
        <span class="day">{{ date.date.getDate() }}</span>
      </div>
    </div>
    <button class="btn small date-clear" (click)="clear()">Clear</button>
    <button class="btn small date-today" (click)="setToday()">TODAY</button>
  </div>
</div>
