.wf-arrow-up{
  background-image: url('./webfonts/up.svg');
}

.wf-arrow-down{
  background-image: url('./webfonts/down.svg');
}

.wf-dot {
  background-image: url('./webfonts/dot.svg');
}

.wf-calender{
  background-image: url('./webfonts/calendar.svg');
}
.wf-checkmark{
  background-image: url('./webfonts/checkmark.svg');
}

.wf-close{
  background-image: url('./webfonts/close.svg');
}

.wf-left{
  background-image: url('./webfonts/left.svg');
}

.wf-right{
  background-image: url('./webfonts/right.svg');
}
