@import url("./slowjowebfont.less");
.container {
  display: flex;
}

.row {
  flex-direction: row wrap;
}

.container-inline {
  display: inline-flex;
}
.row {
}

.pd-1 {
  padding: 1rem;
}

.pd-1-5 {
  padding: 1.5rem;
}

.pd-2 {
  padding: 2rem;
}

.pd-2-5 {
  padding: 2.5rem;
}

.pd-3 {
  padding: 3rem;
}

.pd-3-5 {
  padding: 3.5rem;
}

h1 {
  font-size: @h1;
  @h();
}
h2 {
  font-size: @h2;
  @h();
}
h3 {
  font-size: @h3;
  @h();
}
h4 {
  font-size: @h4;
  @h();
}
h5 {
  font-size: @h5;
  @h();
}
.primary {
  background-color: @primary;
  color: @primary-comp;
}
.secondary {
  background-color: @secondary;
  color: @secondary-comp;
}
.warning {
  background-color: @warning;
  color: @warning-comp;
}
.danger {
  background-color: @danger;
  color: @danger-comp;
}
.info {
  background-color: @info;
  color: @info-comp;
}

.text-primary {
  color: @primary-color;
}
.text-secondary {
  color: @secondary;
}
.text-warning {
  color: @warning;
}
.text-danger {
  color: @danger;
}
.text-info {
  color: @info;
}

.btn {
  border-color: @border-color-dark;
  border: 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  @button();
}

.btn.small {
  @button-small();
}

.btn.med {
  @button-med();
}
.btn.lg {
  @button-lg();
}
.btn.xl {
  @button-xl();
}

.btn.xxl {
  @button-xxl();
}

.btn:hover {
  @btn-hover();
}

.btn.primary:hover {
  @primary-hover();
}
.btn.secondary:hover {
  @secondary-hover();
}
.btn.danger:hover {
  @danger-hover();
}
.btn.warning:hover {
  @warning-hover();
}
.btn.info:hover {
  @info-hover();
}

.btn.focus:focus {
  @btn-focus();
}
.btn.focus.primary:focus {
  @primary-focus();
}
.btn.focus.secondary:focus {
  @secondary-focus();
}
.btn.focus.warning:focus {
  @warning-focus();
}
.btn.focus.danger:focus {
  @danger-focus();
}
.btn.focus.info:focus {
  @info-focus();
}

.btn.fous:out .btn.primary-outline {
  border: @border-primary;
  border-width: @border-small;
  color: @primary;
}

.btn.secondary-outline {
  border: @border-secondary;
  border-width: @border-small;
  color: @secondary;
}

.btn.warning-outline {
  border: @border-warning;
  border-width: @border-small;
  color: @warning;
}

.btn.danger-outline {
  border: @border-danger;
  border-width: @border-small;
  color: @danger;
}

.btn.info-outline {
  border: @border-info;
  border-width: @border-small;
  color: @info;
}

btn.hollow {
  border: @border-hallow;
  border-width: @border-small;
  color: @hallow;
  background-color: rgba(0, 0, 0, 0, 0);
}


.btn.primary-outline:hover:hover {
  background-color: rgba(@primary, 0.075);
}

.btn.secondary-outline:hover {
  background-color: rgba(@secondary, 0.075);
}

.btn.warning-outline:hover {
  background-color: rgba(@warning, 0.075);
}

.btn.danger-outline:hover {
  background-color: rgba(@danger, 0.075);
}

.btn.info-outline:hover {
  background-color: rgba(@info, 0.075);
}

.btn.hallow:hover {
  @hollow-hover();
}

.btn.btn-outline.focus:focus {
  background-color: rgba(@med, 0.5);
}
.btn.btn.focus.primary-outline:focus {
  background-color: rgba(@primary, 0.05);
}

.btn.btn.focus.secondary-outline:focus {
  background-color: rgba(@secondary, 0.05);
}

.btn.btn.focus.warning-outline:focus {
  background-color: rgba(@warning, 0.05);
}

.btn.btn.focus.danger-outline:focus {
  background-color: rgba(@danger, 0.05);
}

.btn.focus.info-outline:focus {
  background-color: rgba(@info, 0.05);
}

:root {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hero {
  @card();
  width: 100%;
}

.card {
  @card();
}

form {
  @form();
}

form > input {
  @input();
}
form > input:focus {
  // outline: blueviolet solid 6px;
  box-shadow: 0 0 2px 1px @primary;
}

form > label {
  @label();
}

form > input[type="checkbox"] {
  @checkbox();
}

form > input[type="radio"] {
  @radio();
}

form > input[type="checkbox"]:checked::after {
  position: absolute;
  vertical-align: baseline;
  display: flexbox;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flexbox;
  text-align: center;
  vertical-align: middle;
  content: "";
  font-size: 1.25;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-image: url("./webfonts/checkmark.svg");
  background-size: cover;
  background-color: white;
  border: 1px white solid;
}
form > input[type="checkbox"]:checked {
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 1px;
  @checkbox();
  @checkbox-checked();
  overflow: hidden;
}

form > input[type="radio"]:checked::after {
  @radio-checked();
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160xp;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.up {
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.down {
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

//Date Picker Styles
.date {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;
  height: 100%;
}

.date.selected {
  @date-selected();
}

.date.holiday {
  @date-holiday();
}

.date.current {
  @date-current();
}

.date.important {
  @date-important();
}

.date.selected:hover {
  @date-selected-hover();
}

.date.current:hover {
  @date-current-hover();
}
.date.holiday:hover {
  @date-holiday-hover();
}

.date.important:hover {
  @date-important-hover();
}

.date.other {
  @date-other();
}
.date.other:hover {
  @date-other-hover();
}

.date {
  @date();
}

.date:hover {
  @date-hover();
}

.date-col-header {
  margin: auto;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 0 1rem 0;
  width: 100%;
  height: 100%;
}

.date-clear {
  @date-clear();
}

.date-today {
  @date-today();
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.fex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-r {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col-r {
  display: flex;
  flex-direction: column-reverse;
}

.flex-middle {
  display: flex;
  vertical-align: middle;
}

.flex-center {
  display: flex;
  align-content: center;
}

//borders and box shadows

.border-primary{
    border-color: @primary;
    border-style: solid;
}

.border-secondary{
  border-color: @secondary;
  border-style: solid;
}

.border-warning{
  border-color: @warning;
  border-style: solid;
}

border-danger{
  border-color: @danger;
  border-style: solid;
}


@border-color-light: rgb(255, 255, 255) solid;
@border-color-dark: rgb(0, 0, 0);
@border-color-light-med: rgb(150, 150, 150) solid;
@border-color-dark-med: rgb(75, 75, 75) solid;
@border-small: 1px;
@border-med: 3px;
@border-lg: 5px;
@border-xlg: 7px;



.box-shadow-small-light {
 box-shadow:  @box-shadow-small-light;
}
.box-shadow-med-light {
  box-shadow:  @box-shadow-med-light;
}
.box-shadow-lg-light {
  box-shadow:  @box-shadow-lg-light;
}
.box-shadow-small-dark{
  box-shadow:  @box-shadow-small-dark;
}
.box-shadow-med-dark{
  box-shadow:  @box-shadow-med-dark;
}
.box-shadow-lg-dark{
  box-shadow:  @box-shadow-lg-dark;
}


//active buttons

.btn.active {
   background-color: @active;
}

.btn.primary.active {
  background-color: @primary;
}

.btn.secondary.active {
  background-color: @secondary;
}

.btn.warning.active {
  background-color: @warning;
}

.btn.danger.active {
  background-color: @danger;
}

.btn.info.active {
  background-color: @info;
}


//inactive buttons
.btn.inactive {
  background-color: @inactive;
}
.btn.primary.inactive {
  background-color: desaturate(@primary, @inactiveDesat);
}

.btn.secondary.inactive {
  background-color: desaturate(@secondary, @inactiveDesat);
}

.btn.warning.inactive {
  background-color: desaturate(@warning, @inactiveDesat);
}

.btn.danger.inactive {
  background-color: desaturate(@danger, @inactiveDesat);
}

.btn.info.iniactive {
  background-color: desaturate(@info, @inactiveDesat);
}

//carousel
.carousel-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  left: -100%;
}


.carousel-item.active{
  left: 0px;
}

.carousel-item.active-left{
  left: 0px;
  animation-duration: @carousel-transition-time;
  animation-name: slide-in-right;
}

.carousel-item.active-right{
  left: 0px;
  animation-duration: @carousel-transition-time;
  animation-name: slide-in-left;
}

.carousel-item.out-left{
  left: -100%;
  animation-duration: @carousel-transition-time;
  animation-name: slide-out-left;
}

.carousel-item.out-right{
  left:100%;
  animation-duration: @carousel-transition-time;
  animation-name: slide-out-right;
}

// slide animation
@keyframes slide-in-left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }

}

@keyframes slide-in-right {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}

@keyframes slide-out-left {
  from {
    left: 0px;
  }
  to {
    left: -100%;
  }
}

@keyframes slide-out-right{
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

.typeahead {
  border: 1px solid black;
  height: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.typeahead-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: fit-content;
}
.typeahead-container>input{
  width: 100%;
}
.typehead-list {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
  padding: 1rem 0 .5rem 0;
  margin-top: .5rem;
  border: 1px solid rgb(218, 218, 218);
  border-radius: @border-radius-med;
  box-shadow: @box-shadow-med-dark;
  overflow-x: hidden;
}

.typehead-list-item {
  cursor: pointer;
  left: 0px;
  width: 110%;
  height: fit-content;
  padding: 1rem 1rem  1rem 1rem;

}

.typehead-list-item:hover {
  background-color: lightskyblue;
  color: white;

}

.typehead-list-item>strong {
  font-weight: bold;
  color: red;
}

.typehead-list-item.selected {
  background-color: lightskyblue;
}



