.wf {
  mask-clip: border-box;
  mask-size:cover;
  mask-position:center;
}

.icon {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateX(50%) translateY(50%);
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 0px;
  background-color: black;
}

.wf.menu {
  mask-image: url('./webfonts/menu-thin.svg');
}

.wf.arrow-up{
  mask-image: url('./webfonts/up.svg');
}

.wf.arrow-down{
  mask-image: url('./webfonts/down.svg');
}

.wf.dot {
  mask-image: url('./webfonts/dot.svg');
}

.wf.calender{
  mask-image: url('./webfonts/calendar.svg');
}
.wf.checkmark{
  mask-image: url('./webfonts/checkmark.svg');
}

.wf.close{
  mask-image: url('./webfonts/close.svg');
}

.wf.chat {
  mask-image: url(./webfonts/chat.svg);
}


.wf.left{
  mask-image: url('./webfonts/left.svg');
}

.wf.left-circle{
  mask-image: url('./webfonts/left-circle.svg');
}

.wf.left.arrow{
  mask-image: url('./webfonts/left-arrow.svg');
}

.wf.right{
  mask-image: url('./webfonts/right.svg');
}

.wf.right-circle {
  mask-image: url('./webfonts/right-circle.svg');
}

.wf.right.arrow{
  mask-image: url('./webfonts/right-arrow.svg');
}
  .wf.pause{
  mask-image: url(./webfonts/pause.svg);
}

.wf.play {
  mask-image: url(./webfonts/play.svg);
}

.wf.cart {
  mask-image: url('./webfonts/cart.svg');
}

.wf.favorite-fill {
  mask-image: url(./webfonts/favorite-fill.svg);
}

.wf.favorite-hallow {
  mask-image: url(./webfonts/favorite-hollow.svg);
}

.wf.sale {
  mask-image: url(./webfonts/sale.svg);
}

.wf.settings {
  mask-image: url(./webfonts/settings.svg);
}

.wf.shipping {
  mask-image: url(./webfonts/shipping.svg);
}

.wf.phone {
  mask-image: url(./webfonts/phone.svg);
}

.wf.mail {
  mask-image: url(./webfonts/mail.svg);
}

.wf.information {
  mask-image: url(./webfonts/information.svg);
}

.wf.question {
  mask-image: url(./webfonts/question.svg);
}

.wf.diamond {
  mask-image: url(./webfonts/diamond.svg);
}

.wf.important {
  mask-image: url(./webfonts/important.svg);
}

.wf.add {
  mask-image: url(./webfonts/add.svg);
}

.wf.remove {
  mask-image: url(./webfonts/remove.svg);
}

.wf.search {
  mask-image: url(./webfonts/search.svg);
}
