<main>
  <app-heading></app-heading>

  <router-outlet></router-outlet>
  <div>
    <div></div>
    <button class="btn btn-small primary">Small</button>
<button class="btn btn-med primary">Medium </button>
<button class="btn btn-lg primary">Large</button>
<button class="btn btn-xl primary">LX</button>


    <div class="hero">This is a hero</div>
    <div class="card">This is a card</div>
    <form>
      <label>input 1</label>
      <input type="text"/>
      <input type="checkbox"/>
      <input name="rbgroup" type="radio"/>
      <input name="rbgroup" type="radio"/>
      <select>
        <option>Option1</option>
        <option>Option2</option>
        <option>Option3</option>
      </select>
      <input type="date"/>
      <input type="datetime"/>
      <input type="datetime-local"/>
    </form>
  </div>
</main>
