<main class="container">
  <app-modal [ShowModal]="showModal" headerText="Modal header" footerText="Modal Footer" (okModal)="showModal = false"> </app-modal>

  <app-heading></app-heading>
  <ul appCarouselItem>
    <li>Test1</li>
    <li>Test2</li>
    <li>Test3</li>
  </ul>
  <br/>


  <section class="row">
    <app-carousel>
      <div class="carousel-item" #carouseItem> I Like Pie</div>
      <div class="carousel-item" #carouseItem>I LIKE Cake</div>
      <div class="carousel-item" #carouseItem>Cobbler</div>
      <div class="carousel-item" #carouseItem>Cookies</div>
    </app-carousel>
    <h1>Buttons</h1>
    <article>
      <h2>Button Sizes</h2>
      <button class="btn small">small</button>
      <button class="btn med">med</button>
      <button class="btn lg">lg</button>
      <button class="btn xl">LX</button>
    </article>
    <article>
      <h2>Button Colors</h2>
      <button class="btn med">Button</button>
      <button class="btn med primary">Primary</button>
      <button class="btn med secondary">Secondary</button>
      <button class="btn med warning">Warning</button>
      <button class="btn med danger">Danger</button>
      <button class="btn med info">Info</button>
    </article>
    <article>
      <h2>Buttons Outline Colors</h2>
      <button class="btn med primary-outline">Primary</button>
      <button class="btn med secondary-outline">Secondary</button>
      <button class="btn med warning-outline">Warning</button>
      <button class="btn med danger-outline">Danger</button>
      <button class="btn med info-outline">Info</button>
    </article>
    <article>
      <h2>Focus Buttons</h2>
      <button class="btn med focus">button</button>
      <button class="btn med primary focus">Primary</button>
      <button class="btn med secondary focus">Secondary</button>
      <button class="btn med warning focus">Warning</button>
      <button class="btn med danger focus">Danger</button>
      <button class="btn med info focus">Info</button>
    </article>
  </section>

  <div class="hero">
    Hero
    <br />
    <br />
    <label>Date Picker: </label>
    <app-date-picker></app-date-picker>
    <br />
    <button class="btn med primary" (click)="showModal = !showModal">
      Show Modal
    </button>
  </div>

  <div class="card">Card</div>
  <form>
    <label>input 1</label>
    <input type="text" />
    <input type="checkbox" />
    <input name="rbgroup" type="radio" />
    <input name="rbgroup" type="radio" />
    <select>
      <option>Option1</option>
      <option>Option2</option>
      <option>Option3</option>
    </select>
  </form>

  <div>
    <div class="dropdown">
      <span>Mouse over me</span>
      <div class="dropdown-content"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
