<div>
  <ul>
    <li class="nav-item nav-brand">
      <a class="nav-link" routerLink="home"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products">Products</a>
    </li>
    <li class="nav-item">
      <a routerLink="inventory">Inventory</a>
    </li>
    <li class="nav-item">
      <form class="search"><input class="input search-input" type="text"/><button class="btn primary nav-serch">Search</button></form>
    </li>
    <li class="nav-item">
      <a routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a>profile goes here</a>
    </li>
  </ul>
</div>
