.primary{
  background-color: @primary;
  color: @primary-comp;
}
.secondary{
  background-color: @secondary;
  color: @secondary-comp;
}
.warning{
  background-color: @warning;
  color: @warning-comp;
}
.danger{
  background-color: @danger;
  color: @danger-comp;
}
.info{
  background-color: @info;
  color: @info-comp;
}

.btn {
  color: @primary-color;
  border-color: @border-color-dark;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  @button();
}

.btn-small {
  @button-small();
}

.btn-med {
  @button-med();
}
.btn-lg {
  @button-lg();
}
.btn-xl{
  @button-xl();
}

.btn-xxl {
  @button-xxl();
}

:root {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hero {
  @hero();
}

.card{
  @card();
}

form {
  @form();
}

form> input {
  @input();
}
form> input:focus {
  // outline: blueviolet solid 6px;
  box-shadow: 0 0 2px 1px @primary;
}

form>label{
  @label();
}

form>input[type="checkbox"]{
  @checkbox();
}

form>input[type="radio"]{
  @radio();
}

form>input[type="checkbox"]:checked::after{
  position: absolute;
  vertical-align: baseline;
  display: flexbox;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flexbox;
  text-align: center;
  vertical-align: middle;
  content: "";
  font-size: 1.25;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-image: url('./webfonts/checkmark.svg');
  background-size: cover;
  background-color: white;
  border: 1px white solid;
}
form>input[type="checkbox"]:checked{
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 1px;
  @checkbox();
  @checkbox-checked();
  overflow: hidden;
}

form>input[type="radio"]:checked::after{
  @radio-checked();
}



