.primary{
  background-color: @primary-background;
}
.secondary{
  background-color: @secondary-background;
  color: @secondary-color;
}
.warning{
  background-color: @warning-background;
  color: @warning-color;
}
.danger{
  background-color: @danger-background;
  color: @danger-color;
}

.btn {
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-small {
  .btn();
  @button-small();
}

.btn-med {
  .btn();
  @button-med();
}
.btn-lg {
  .btn();
  @button-lg();
}
.btn-xl{
  .btn();
  @button-xl();
}

:root {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}
